<p id="alert"><%= alert %></p>
<p id="notice"><%= notice %></p>
<div class="row">
	<div class="col-md-3 user-info-home">
		<div class="row">
			<%= gravatar_for @user %>
		</div>
		<div class="row name">
			<%= @user.fullname %>
		</div>
		<div class="row learned-word">
			Learned <%= @learned_word %> words
		</div>
	</div>
	<div class="col-md-9">
		<div class="word-lesson-button">
		<%= link_to words_path do %>
			<button class="btn btn-success">Words</button>
		<% end %>
		<%= link_to categories_path do %>
			<button class="btn btn-success">Categories</button>
		<% end %>
		</div>
		<h1>Activities</h1>
	</div>
</div>