<p class="result-board"><%= @lesson.category.name %> Result: <%= @lesson.result || 0%>/<%= @lesson.word_lessons.count %></p>
<table class="table table-striped result-table">
<tbody>
  <% @lesson.word_lessons.each do |word_lesson| %>
    <tr>
    <% if !word_lesson.word_answer.nil? %>
      <% if word_lesson.word_answer.correct? %>
        <td><i class="fa fa-circle-o fa-2-5x true-answer"></i></td>
      <% else %>
        <td><i class="fa fa-times fa-2-5x wrong-answer"></i></td>
      <% end %>
      <td><%= word_lesson.word.content %></td>
      <td><%= word_lesson.word_answer.content %></td>
    <% else %>
      <td><i class="fa fa-times fa-2-5x wrong-answer"></i></td>
      <td><%= word_lesson.word.content %></td>
      <td>Not Answer</td>
    <% end %>
    </tr>
  <% end %>
</tbody>
</table>
<%= link_to admin_lessons_path do %>
  <button class="btn btn-primary">Back</button>
<% end %>