<%= form_tag(words_path, method: :get, class: "filter") do %>
	<div class="filter-category">
	<select class="form-control" name="category_id">
		<% @categories.each do |category| %>
			<option value="<%= category.id %>"
			<% if category.id == @filter[:category_id].to_i %>
				selected
			<% end %>
			><%= category.name %></option>
		<% end %>
	</select>
	</div>

	<div class="filter-learned">
		<label class="radio-inline"><input type="radio" value="1" name="learned"
		<% if @filter[:learned] == '1' %>
			checked='checked'
		<% end %>
		>Learned</label>
		<label class="radio-inline"><input type="radio" value="2" name="learned"
		<% if @filter[:learned] == '2' %>
			checked='checked'
		<% end %>
		>Not learned</label>
		<label class="radio-inline"><input type="radio" value="3" name="learned" <% if @filter[:learned] == '3' %>
			checked='checked'
		<% end %>>All</label>
	</div>

	<div class="actions">
    	<%= submit_tag "Filter", {class: 'btn btn-primary'} %>
  	</div>
<% end %>
<button class="btn btn-primary pdf">PDF</button>

<table class="table table-striped">
<thead>
	<tr>
		<th>ID</th>
		<th>Content</th>
		<th>Correct</th>
	</tr>
</thead>
<% @words.each do |word| %>
	<tr>
		<td><%= word.id %></td>
		<td><%= word.content %></td>
		<td><%= word.word_answers.where(correct: true).first.content %></td>
	</tr>
<% end %>
</table>