<div>
	<div>

	</div>
	<div>
	<% if @category.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@category.errors.count, "error") %> prohibited this user from being saved:</h2>
          <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
    <% end %>
	<%= form_for [:admin, @category] do |f| %>
		<div class="form-group">
			<%= f.label "Name", class: 'control-label' %><br>
			<%= f.text_field :name, class: 'form-control' %>
		</div>
		<div class="form-group">
			<%= f.label "Description", class: 'control-label' %><br>
			<%= f.text_area :description, class: 'form-control' %>
		</div>
		<div class="action">
			<%= f.submit class: 'btn btn-primary' %>
		</div>
	<% end %>
	</div>
</div>