<table class="table table-striped">
<thead>
	<tr>
		<th>ID</th>
		<th>Name</th>
		<th>Description</th>
		<th>Action</th>
	</tr>
</thead>
<% @categories.each do |category| %>
	<tr>
		<td><%= category.id %></td>
		<td><%= category.name %></td>
		<td><%= category.description %></td>
		<td>
			<%= form_for Lesson.new do |f| %>
				<%= f.hidden_field :category_id, value: category.id %>
				<%= f.hidden_field :user_id, value: current_user.id %>
				<%= f.submit "Start", class: "btn btn-primary" %>
			<% end %>
		</td>
	</tr>
<% end %>
</table>